page-materi {
    
    }
    
    .materiBtn
    {
        margin: 0 auto;
        margin-top: 100px;
    }
    
    .btnUsaha
    {
        box-shadow: 0 0 7px #777;
        margin: 0 auto;
        width:60%;
        height: 70px;
        color: white;
    }
    
    .btnUsaha p
    {
        font-size: 20px;
        color: #276785;
    }
    
    .btnEnergi
    {
        box-shadow: 0 0 7px #777;
        margin: 0 auto;
        width:60%;
        height: 70px;
        color: white;
        margin-top: 50px;
    }
    
    .btnEnergi p
    {
        font-size: 20px;
        color: #276785;
    }
    
    .btnDaya
    {
        box-shadow: 0 0 7px #777;
        margin: 0 auto;
        width:60%;
        height: 70px;
        color: white;
        margin-top: 50px;
    }
    
    .btnDaya
    {
        font-size: 20px;
        color: #276785;
    }