page-soal-usaha {
    
    }
    
    *
    {
    }
    
    .soal
    {
        text-align: justify;
    }
    
    .gambarSoal
    {
        width: 100%;
    }
    
    .table-containere
    {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }